{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "parser": "flow",
  "semi": false,
  "bracketSpacing": true
}
